DAT_SERVICE_USERNAME=vish@venuslogistics.org
DAT_SERVICE_PASSWORD=<the NEW password, after you reset it>
DAT_INDIVIDUAL_USERNAME=rshah@venuslogistics.org
DAT_PARTNER_ID=001f400001M3YthAAF
DAT_IDENTITY_BASE_URL=https://identity.api.staging.dat.com/access
DAT_API_BASE_URL=https://analytics.api.staging.dat.com/linehaulrates
DAT_DEFAULT_EQUIPMENT=VAN
DAT_DEFAULT_RATE_TYPE=CONTRACT